.homeWrapper {
  display: grid;
  grid-template-rows: 1.5fr 4.1fr 1fr 3fr 1fr 2.8fr 1.3fr .5fr .1fr;
}
.header {
  display: grid;
  grid-template-columns: 2.5fr 1fr 2.5fr;
  position: fixed;
  z-index: 99;
  font-family: 'Raleway';
}
.navbar1 {
  display: grid;
  grid-template-rows: .7fr 1fr;
}
.nb1top {
  background-color: black;
  border-bottom: solid 3px sandybrown;
}
.navbar1 li {
  float: left;
  display: block;
  padding-left: 12px;
  padding-right: 12px;
  color: sandybrown;
  font-size: 18px;
}
.nb1Bottom {
  background-color: rgb(250, 149, 109);
  border-bottom: solid 1px black;
  color: white;
  font-size: 32px;
  text-align: center;
}
.logo1 {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr .1fr;
  background-color: rgb(250, 149, 109);
  border-bottom: solid 1px black;
  /* text-align: center; */
}
.logo1 img {
  border: solid 3px black;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.navbar2{
  display: grid;
  grid-template-rows: .7fr 1fr;
}
.nb2top{
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: black;
  color: sandybrown;
  border-bottom: solid 3px sandybrown;
}
.searchBox {
  text-align: right;
  padding: 2em;
}
.searchBox input {
  border: solid 2px sandybrown;
}
.searchButton {
  padding-top: 2em;
}
.searchButton button {
  background-color: sandybrown;
}
.nb2Bottom {
  background-color: rgb(250, 149, 109);
  color: white;
  border-bottom: solid 1px black;
  text-align: center;
}
.nb2Bottom p {
  font-size: 20px;
  /* max-width: 225px; */
}
.openPic {
  background-image: url("/HG_pic1.jpeg");
  background-position: top;
  background-size: cover;
  margin-top: 205px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.serviceList {
 margin-top: 30px;
 text-align: center;
 background-image: url("/sandfootprints.jpg");
 background-size: 100%;
 background-position: center;
 background-repeat: no-repeat;
 font-family: Raleway;
}
.slAnimation div {
  padding: 15px;
}
.slAnimation .title {
  margin-top: 2em;
  font-size: 38px;
}
.slContainer {
  font-size: 19px;
}
.hairGallery1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}
.hgHairpic1 {
  text-align: center;
}
.hgHairpic1 img, .hgHairpic2 img, .hgHairpic3 img, .hgHairpic4 img,
 .hgHairpic5 img, .hgHairpic6 img, .hgHairpic7 img, .hgHairpic8 img,
 .hgHairpic9 img, .hgHairpic10 img, .hgHairpic11 img, .hgHairpic12 img,
 .hgHairpic13 img, .hgHairpic14 img, .hgHairpic15 img, .hgHairpic16 img,
 .hgHairpic17 img, .hgHairpic18 img, .hgHairpic19 img, .hgHairpic20 img {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.hgHairpic2 {
  text-align: center;
}
.hgHairpic3 {
  text-align: center;
}
.hairGallery2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}
.container1 {
  display: grid;
  grid-template-rows: 1fr .3fr 1fr;
}
.hgHairpic4 {
  text-align: center;
}
.hgHairpic5 {
  text-align: center;
  padding-top: 150px;
}
.container2 {
  display: grid;
  grid-template-rows: .2fr .65fr;
}
.container2 .row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hgHairpic6 {
  text-align: center;
}
.hgHairpic7 {
  text-align: center;
  padding-top: 180px;
}
.hgHairpic8 {
  text-align: center;
  padding-top: 15px;
}
.hgHairpic9 {
  text-align: center;
  padding-top: 40px;
}
.hgHairpic10 {
  text-align: center;
  padding-top: 160px;
}

.container2 .row1 {
font-family: Raleway;
font-size: 30px;
padding: 3em;
margin-top: 40px;
max-width: 450px;
}
.container2 .column3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.container1 .row3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container1 .row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container1 .row2 {
text-align: center;
padding-top: 50px;
}
.hairGallery3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.hgHairpic14 {
  text-align: center;
}
.hgHairpic15 {
  text-align: center;
  padding-top: 150px;
}
.hgHairpic16 {
  text-align: center;
}
.hgHairpic17 {
  text-align: center;
  padding-top: 180px;
}
.hgHairpic18 {
  text-align: center;
  padding-top: 15px;
}
.hgHairpic19 {
  text-align: center;
  padding-top: 40px;
}
.hgHairpic20 {
  text-align: center;
  padding-top: 160px;
}
.bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: rgb(16, 16, 32); */
  background-image: url("/HG_background4.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  color: white;
  font-size: 23px;
  font-family: 'Raleway';

}
.bioPhoto img {
  margin-top: 1.5em;
  border-radius: 4px;
}
.bioPhoto {
  text-align: center;
}
.bioText {
  /* text-align: center; */
  max-width: 625px;
  margin-left: 1em;
}
.bioBox2 {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 1.5em;
}
.customerService {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .1fr .3fr;
  background-color: sandybrown;
  margin-top: 40px;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  text-align: center;
  font-size: 18px;
}
.customerCare h3 {
  border-bottom: solid 1px black;
}
.connect h3 {
  border-bottom: solid 1px black;
}
.connect p {
  text-decoration: underline;
}
.connect button {
  margin-top: 10px;
  background-color: black;
  color: white;
}
.paymentOptions h3 {
  border-bottom: solid 1px black;
}
.iconBox {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Raleway';
  font-size: 12px;
}
.create {
  margin-left: 1em;
}

/* .logo1Bottom {
  background-color: peachpuff;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
